*{
    margin: 0;
    padding: 0;
}

.main {
  width: 100%;
  background: url(/pic/white\ background.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 100vh; /* Ganti height dan hapus position */
  font-family: sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    font-family: sans-serif;
    top: -5px;
    left: 50px;
    background-color: #6FE6FC;
    /* box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1); Efek bayangan */

}

.navbar .container {
    width: 90%; /* Atur lebar isi navbar */
    max-width: 1200px; /* Batas maksimal agar responsif */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}


.navbar .logo{
    cursor: pointer;    
    margin-left: 50px;
    display: flex;
    align-items: center;
}


ul{
    margin-top: 1% ;
    margin-right: 20px;
    gap: 10px;
    display: flex;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    position: sticky;
}
 
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;

    padding-bottom: 5px; /* memberi ruang agar border tidak terlalu dekat */
    /* border-bottom: #00529F ; */
}

ul li a.active {
    color: #ffffff; /* Warna teks saat aktif */

}




.info{
    margin-left: 7%;
    margin-top: 13%;
}

.info h2 {
  font-size: 30px;
  color: black;
  font-family: sans-serif;
  margin-bottom: 10px;
  position: relative;
}

.info .secondary {
  color: #00529F;
  font-weight: bold;
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
}

footer {
  background-color: #4CC9FE;
  padding: 20px;
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-top: 20px;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

.btn-daftar {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #00529F;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
