
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 

*{
    margin: 0;
    padding: 0;
} */
:root{
    --color-primary: #00529F;
}
/* 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

.card {
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    height: 75vh;
    margin-top: 40px;
    padding: 0;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 1;
}

.wrapper{
    position: absolute;
    width: 30%;
    background-color: ebeef1  ;
    box-shadow: 0px 0px 10px  rgba(10,99, 169,0.16), -10px -10px 10px -1px rgba(255,255,255,0.7) ;
    padding: 0px 30px;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: #ffffff;
    margin-top: -40px;
}

.wrapper h3{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
}

.skills-wrapper{
    padding: 0 0px;
}

.skills-wrapper .bar{
    margin: 30px 0;
}

.skills-wrapper .bar .info{
    margin-bottom: 10px;
}

.skills-wrapper .bar .info span{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;

}

.skills-wrapper .bar .progress-bar{
    width: 100%;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.skills-wrapper .bar .progress-bar span{
    position: absolute;
    height: 100%;
    border-radius: 10px;
    transform: scale(0);

    background-color: var(--color-primary);
    animation: animate 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

@keyframes animate {
    100%{
        transform: scale(1);
    }
}

/* Menampilkan presentase dengan CSS */
.skills-wrapper .bar .progress-bar span::after{
    content: attr(data-percent); /* Menampilkan angka dari atribut */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 13px;
    font-weight: bold;
}



.skills-wrapper .bar .progress-bar span.passing{
    width: 70%;
}
/* ini untuk tampilan yang ade di progress bar untuk bar HTML */
.skills-wrapper .bar .progress-bar span.passing::after{
    content: "70";
}

.skills-wrapper .bar .progress-bar span.shooting{
    width: 60%;
}
/* ini untuk tampilan yang ade di progress bar untuk bar CSS */
.skills-wrapper .bar .progress-bar span.shooting::after{
    content: "60";
}

.skills-wrapper .bar .progress-bar span.dribbling{
    width: 80%;
}
/* ini untuk tampilan yang ade di progress bar untuk bar Javascript */
.skills-wrapper .bar .progress-bar span.dribbling::after{
    content: "80";
}

