body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px;
    margin-top: 20px;
}

.card {
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}
.card img {
    border-radius: 10px;
}
.card h3 {
    font-size: 14px;
    margin: 20px 0;
}

.card:hover{
    box-shadow: 0 8px 16px rgba(0, 82, 159, 0.6); /* Bayangan warna hijau */
    transition: 0.5 ease-in-out;
}